body {
  background: #fff url(../images/background.jpg) repeat-x 50% 0;
  color: #555;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
a { color: #75588a; }
#insides { width: 800px; height: 800px; margin: 30px auto 0; position: relative; }
#logo { font-size: 2.5em; color: #000; margin: 0 0 30px; height: 55px; }
#logo .icon { border: 1px solid #ccc; padding: 5px; background-color: #ddd; width: 57px; height: 57px; float: left; }
#logo img { width: 57px; height: 57px; }
#logo .name { float: left; margin-left: 10px; line-height: 65px; vertical-align: middle; }
#description { float: left; width: 450px; height: 350px; overflow: hidden; font-size: 1.2em; margin-top: 20px; }
#screenshots {
  position: absolute;
  right: 0;
  top: 20px;
  width: 253px;
  height: 514px;
  background: transparent url(../../../images/iphone.png) no-repeat;
}
#screenshots-insides { width: 195px; height: 294px; position: absolute; top: 73px; left: 29px; padding: 0; margin: 0; }
.screenshot, .screenshot img { width: 195px; height: 294px; }
.screenshot { list-style-type: none; }

#app-store-link { clear: left; width: 450px; padding: 30px 0 0; }
#app-store-link a {
  margin: 0 auto;
  display: block;
  background: transparent url(../../../images/app_store.png) no-repeat 0 0;
  width: 160px;
  height: 79px;
}