body {
  background: #7edfff url(../images/background.jpg) no-repeat 50% 0;
  color: #333;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
a { color: #004e65; }
#insides { width: 800px; min-height: 600px; margin: 30px auto 0; position: relative; }
#logo { font-size: 2.5em; color: #002b47; margin: 0 0 30px; height: 55px; }
#logo .icon { padding: 5px; width: 57px; height: 57px; float: left; }
#logo img { width: 57px; height: 57px; }
#logo .name { float: left; margin-left: 10px; line-height: 65px; vertical-align: middle; }
#description { float: left; width: 450px; height: 350px; overflow: hidden; font-size: 1.2em; margin-top: 20px; padding: 20px; }
#screenshots {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 253px;
  height: 514px;
  background: transparent url(../../../images/iphone.png) no-repeat;
}
#screenshots-insides { width: 195px; height: 294px; position: absolute; top: 73px; left: 29px; padding: 0; margin: 0; }
.screenshot, .screenshot img { width: 195px; height: 294px; }
.screenshot { list-style-type: none; }

#app-store-link { clear: left; width: 450px; padding: 30px 0 0; }
#app-store-link a {
  margin: 0 auto;
  display: block;
  background: transparent url(../../../images/app_store.png) no-repeat 0 0;
  width: 160px;
  height: 79px;
}