<div id="footer">
	<div class="left">
		<% @app.links.each do |link| %>
			<%= link_to(link.title, link.url, :class => 'mr15') %>
		<% end %>
	</div>
	<div class="right">
		Made with <%= link_to('AppMark.it', 'http://appmark.it', :target => :new) %>
	</div>
</div>