<h1>Sign up</h1>
<div>
	Already have an account? <%= link_to('Sign in', params[:redirect_to].blank? ? signin_path : signin_path(:redirect_to => params[:redirect_to])) %>
</div>

<%= render :partial => 'form' %>

