body {
  background: #111 url(../images/background.png) no-repeat 50% 0;
  color: #999;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
a { color: #40b8ed; }
#insides { width: 800px; height: 800px; margin: 30px auto 0; position: relative; }
#logo { position: absolute; top: 70px; left: 300px; font-size: 2.5em; color: #fff; margin: 0 0 30px; height: 55px; }
#logo .icon { width: 57px; height: 57px; float: left; border: 1px solid #555; }
#logo img { width: 57px; height: 57px; }
#logo .name { float: left; margin-left: 10px; line-height: 57px; vertical-align: middle; }
#description { float: left; width: 450px; height: 350px; overflow: hidden; font-size: 1.2em; margin-top: 20px; position: absolute; top: 140px; left: 300px;  }
#screenshots {
  position: absolute;
  left: 0;
  top: 20px;
  width: 253px;
  height: 514px;
  background: transparent url(../../../images/iphone.png) no-repeat;
}
#screenshots-insides { width: 195px; height: 294px; position: absolute; top: 73px; left: 29px; padding: 0; margin: 0; }
.screenshot, .screenshot img { width: 195px; height: 294px; }
.screenshot { list-style-type: none; }

#app-store-link { clear: left; width: 250px; padding: 30px 0 0; position: absolute; left: 0; top: 500px; }
#app-store-link a {
  margin: 0 auto;
  display: block;
  background: transparent url(../../../images/app_store.png) no-repeat 0 0;
  width: 160px;
  height: 79px;
}