body {
  background: #050505 url(../images/background.jpg) no-repeat 50% 0;
  color: #aaa;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
a { color: #75588a; }
#insides { width: 800px; height: 800px; margin: 30px auto 0; position: relative; }
#logo { font-size: 2.5em; color: #fff; margin: 0 0 30px; height: 55px; }
#logo img { float: left; }
#logo .name { float: left; margin-left: 10px; line-height: 55px; vertical-align: middle; }
#description { float: left; width: 450px; font-size: 1.2em; background: transparent url(../../../images/faded-white-bg.png) repeat; padding: 20px; }
#screenshots {
  float: right;
  width: 253px;
  height: 514px;
  background: transparent url(../../../images/iphone.png) no-repeat;
  position: relative;
}
#screenshots-insides { width: 195px; height: 294px; position: absolute; top: 73px; left: 29px; padding: 0; margin: 0; }
.screenshot, .screenshot img { width: 195px; height: 294px; }
.screenshot { list-style-type: none; }

#app-store-link { clear: left; width: 450px; padding: 30px 0 0; }
#app-store-link a {
  margin: 0 auto;
  display: block;
  background: transparent url(../../../images/app_store.png) no-repeat 0 0;
  width: 188px;
  height: 79px;
}