<h1>New Theme</h1>

<% form_for ['admin', @theme] do |f| %>
 	Name: <%= f.text_field :name %><br />
	Template:<br />
	<%= f.text_area :template, :class => 'theme' %>
	<br />
	<%= f.submit 'Save Theme' %>
	or <%= link_to "Cancel", admin_themes_path %>
<%- end -%>