<%= render :partial => 'admin/dashboard/nav' %>
<h1><%= @theme.name %></h1>
<p>
	<%= image_tag @theme.screenshot_url %>
</p>
<%= text_area_tag :template, @theme.template, :class => 'theme', :disabled => true %>
