<h1 class="mt20">My Apps</h1>

<%= link_to "Search for and add an app", search_apps_path, :class => 'icon add' %>

<div class="mt10">
	<table class="styled">
		<tr>
			<th>Icon</th>
			<th>Name</th>
			<th>Author</th>
		</tr>
		<%= render @apps %>
	</table>
</div>