<h1>Adding a new app</h1>
<%= link_to('Back to search', search_apps_path, :class => 'icon back') %>

<div>
	<div class="hint mb20">
		We've pulled information about your app from the iTunes store.
		Make any changes you'd like and press 'Save'.
	</div>
</div>

<%= render :partial => 'form' %>