body {
  background: #222 url(../images/background.png) no-repeat 50% 0;
  color: #4d4d4d;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
a { color: #7b7874; }
#insides { width: 800px; min-height: 660px; margin: 30px auto 0; position: relative; }
#logo { font-size: 2.5em; color: #B9B7B2; margin: 0 0 30px; height: 55px; position: absolute; top: 50px; left: 420px; }
#logo .icon { width: 57px; height: 57px; float: left; }
#logo img { width: 57px; height: 57px; }
#logo .name { float: left; margin-left: 10px; line-height: 57px; vertical-align: middle; }
#description { float: left; width: 430px; height: 350px; overflow: hidden; font-size: 1.2em; margin-top: 20px; position: absolute; top: 120px; left: 420px; }
#screenshots {
  position: absolute;
  left: 25px;
  top: 100px;
  width: 253px;
  height: 514px;
  background: transparent url(../../../images/iphone.png) no-repeat;
}
#screenshots-insides { width: 195px; height: 294px; position: absolute; top: 73px; left: 29px; padding: 0; margin: 0; }
.screenshot, .screenshot img { width: 195px; height: 294px; }
.screenshot { list-style-type: none; }

#app-store-link { clear: left; width: 430px; padding: 30px 0 0; position: absolute; top: 500px; left: 420px; }
#app-store-link a {
  margin: 0 auto;
  display: block;
  background: transparent url(../../../images/app_store.png) no-repeat 0 0;
  width: 160px;
  height: 79px;
}