<html>
	<head>
		<title><%= @app.name %></title>
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<%= javascript_include_tag('jquery-1.4.1.min') %>
		<%= google_analytics(@app.google_analytics_id) %>
		<script type="text/javascript">
			$(document).ready(function() {
				setTimeout("window.location.replace('<%= @app.affiliate_url %>')",1000);
			});
		</script>
	</head>
<body>
</body>
</html>	